/* Общие стили */
body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333; /* Основной цвет текста */
    background-color: #F5F5DC; /* Светло-бежевый фон */
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
header {
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #008080; /* Бирюзовый цвет для логотипа */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease; /* Плавное изменение цвета при наведении */
}

nav ul li a:hover {
    color: #008080; /* Бирюзовый при наведении */
}

/* Добавляем иконки в меню */
nav ul li a i {
    margin-right: 5px;
}

/* Hero Section */
.hero {
    background-image: url('assets/img/hero-bg.jpg'); /*  ЗАМЕНИТЬ! */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 150px 0;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
    font-family: 'Your-Decorative-Font', sans-serif; /* ЗАМЕНИТЬ! */
    color: #FFD700; /* Золотой цвет для заголовка */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Тень для текста */
}

.hero h2 {
    font-size: 1.5em;
    margin-bottom: 40px;
    color: #fff;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #25d366;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    border: none; /* Убираем рамку */
}

.button i {
    margin-right: 8px;
}
.telegram-button {
    background-color: #0088cc;
}

.button:hover {
    background-color: #1da1f2;
}
/* Footer */
footer{
    background-color: #333;
    color:#fff;
    text-align: center;
    padding: 20px 0;

}
.footer-social a{
    color:#fff;
    font-size: 24px;
     margin: 0 15px;
     transition: color 0.3s ease;
}

.footer-social a:hover{
    color: #0088cc;
}

